.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.container{
  display: flex;
  margin-top: 3rem;
  margin-left: 2rem;
  margin-right: 2rem;
  
  border-radius: 2rem;
  overflow: hidden;
}
.home:hover{
      cursor: pointer;
}
.Dashboard{
  background-color: #54585f11;
  height: 39rem;
  padding-top: 3rem;
}
.Dashboard ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  
  align-items: start;
}
.Dashboard ul li{
  padding: 0.5rem 1rem;
  margin: 0.25rem 0; 
  width: 9rem;
  margin-right: 2rem;
  padding-right: 1rem;
}
 .Dashboard ul li:hover{
  background-color: #27282c2b;
  margin-top: 1rem;
  
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border-radius: 3rem;
}
.components{
  width: 100%;
  justify-items: center;
  background-color:#c5eded ;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
